body {
  /*This is to add a background. Let's make it pretty and centered!*/
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("https://picsum.photos/id/141/2000/1000");
  background-position: center;
  background-repeat: no-repeat;
  /* Something to note: without this overflow property, the res of the photo would cause the page to have a scroll bar. 
  I really don't like the look of it so I added in hidden overflow.*/
  overflow: hidden;
}
heading h1 {
  display: flex;
  justify-content: center;
  text-align: center;
}
nav a:hover {
  background-color: hsl(340deg, 86%, 50%);
  color: hsl(300deg, 0%, 90%);
}
nav a:active {
  background-color: hsl(340deg, 86%, 50%);
  color: rgb(255, 255, 255);
}
nav .register {
  background-color: hsl(340deg, 0%, 90%);
  color: hsl(340deg, 86%, 50%);
}
nav {
  margin-bottom: 2rem;
}
nav ul {
  list-style-type: none;
  padding-left: 0;

  display: flex;
}
nav ul li {
  flex: auto;
  text-align: top;
}
nav a {
  text-decoration: none;
  color: white;

  border: 1px solid white;

  display: block;
  padding: 0.5em 1em;
}
footer {
  /*to make the footer evenly spaced, and pretty*/
  display: flex;
  justify-content: center;
  border-top: 2px solid white;
  padding-top: 1em;
  color: white;
  
}

